# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Rider
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# Log files
*.log
